body {
    background:#E4FBFF;
}

#bannermarimar {
    width: 100%;
    height: 700px;
}

 .principal{
    background:##E4FBFF;
 }

h1 {
    text-align: center;
    color: #5E86A0;
    height: 70px;
}

p {
    text-align: center;
}

#missao {
    font-size: 20px
}

em strong {
    color: #e22b78;
}

 .itens {
    font-style: italic
}

.beneficios{baçkground: }
h2{
    text-align: center;
    color:#e22b78;
} 
.itens{
 text-align:center;
}

.produtos {
    list-style: none;
    text-align: center;
}

li::before {
    content: "🌊";
}